
name: Validate Renovate config

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:

    name: Validate Renovate config
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js v24.x
      uses: actions/setup-node@v6
      with:
        node-version: '24.x'
        cache: 'npm'
    - name: Cache Node.js modules
      uses: actions/cache@v4
      with:
        path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
        key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-node-
          ${{ runner.OS }}-
    - name: Install Packages
      run:  npm ci
    - name: Validate Renovate config
      run: npm test
